/* NOTE: Reset Styles */
@forward "reset";

/* HACK: CSS Debug Style */
* {
  box-sizing: border-box;

  /* NOTE: You can chose one of these declaration for debug
    ? background: red !important;
    ? outline: 1px solid red !important;
  */
}

/* INCOMPLETE
 Lenis(Smooth Scrool Plugin) Default Styles 
html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  height: auto;
}

 Reset Document Scrollbar style 
body {
  overflow: hidden;
}
*/
